<%- include('./includes/head', {pageTitle: 'An Error Occured'}) %>
</head>
<body>
    <main>
        <h1>Could not find resource!</h1>
        <p>Unfortunately, we could not find the requested resource.</p>
        <p><a class="btn" href="/">Back to Home</a></p>
    </main>

<%- include('./includes/footer') %>